<div class='container'>
  <h3 class='altheader'>Instructions</h3>
  <p>Here's the new and improved Out of Office calendar! Follow the instructions below to create a new Out of Office event.</p>
  <ul>
    <li>You can now enter your Out of Office event in Slack! Just enter /OOO [reason, start time, end time] and your event will automatically be added to the Out of Office Calendar!</li>
    <li>You can also manually enter your Out of Office event by simply clicking the green 'New OOO Event' button located above the calendars and enter your name, reason, start date and end date!</li>
  </ul>
</div>
