<div class='container'>
  <h3 class='altheader'>Instructions</h3>
  <h4 class='center'>Here's the new and improved Out of Office calendar! Follow the instructions below to create a new Out of Office event.</h4>
  <ul>
    <li>You can enter a new Out of Office event by simply clicking the green 'New OOO Event' button located above the calendars. Enter the reason, start date and end date and it will appear on the calendar!</li>
    <li>You can now enter your Out of Office event in Slack by using slash commands! Just enter /OOO [reason, start time, end time] and your event will automatically be added to the Out of Office Calendar! VERY IMPORTANT! When entering a new Out of
      Office event, make sure the parameters are separated by commas and the start time and end time are entered in the following format: 'MM-DD-YYYY HH:MM am/pm'. Here are some examples:
      <br>
      <div class='row'>
        <strong class='col-sm-4'>
          /OOO WFH, 03-27-2017 8:00 am, 03-27-2017 5:00 pm</strong>
        <strong class='col-sm-4'>
          /OOO vacation, 03-28-2017 12:30 pm, 04-01-2017 5:00 pm</strong>
        <strong class='col-sm-4'>
          /OOO personal, 04-20-2017 8:00 am, 04-21-2017 5:00 pm</strong>
      </li>
    </li>

  </ul>
</div>
