<div class='container'>
  <h3 class='altheader'>Instructions</h3>
  <h4 class='center'>Here's the new and improved Out of Office calendar! Follow the instructions below to create a new Out of Office event.</h4>
  <ul>
    <li>You can enter a new Out of Office event by simply clicking the green 'New OOO Event' button located above the calendars. Enter the reason, start date and end date and it will appear on the calendar!</li>
    <li>You can now enter your Out of Office event in Slack by using slash commands! Just enter /OOO [reason, start time, end time] and your event will automatically be added to the Out of Office Calendar! VERY IMPORTANT! When entering the start time and
      end time, you must enter it in DateTime format, which is 'YYYY-MM-DD HH:MM:SS'. Here are some examples:
      <br>
      <div class='row'>
        <strong class='col-sm-4'>
          /OOO WFH 2017-05-05 08:00:00 2017-05-05 17:00:00</strong>
        <strong class='col-sm-4'>
          /OOO vacation 2017-03-30 08:00:00 2017-04-01 17:00:00</strong>
        <strong class='col-sm-4'>
          /OOO personal 2017-04-20 08:00:00 2017-04-20 17:00:00</strong>
      </li>
    </li>

  </ul>
</div>
