// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.altheader {
  background-color: #ffa540;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.center {
  text-align: center;
}

.buttonposition {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  background-color:#70468C !important;
  color:#ffa540 !important;
  text-shadow: 2px 2px 4px #000000;
}

.lsnacho {
  color: #ff3900;
}

.lssherbet {
  color: #ffa540
}

.lspurple {
  color: #70468C;
}

.simple-calendar {

  .day {
    text-align:  center;
  }

  ._day_{
    width:80px !important;
    height:80px !important;
    overflow-y: hidden;
    text-align: center;
  }

._day_:hover {
  overflow: auto;
}
._day_ p {
  padding-right: 16px;
}
._day_:hover p {
  padding-right: 0px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
  }

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #70468C;
  }
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    text-align: center;
    font-weight: bold;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {
  }

  .has-events {}
  .center {
    text-align: center;
  }

}
