// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  color: #70468C;
  text-shadow: 2px 2px 0px #fff, 6px 6px 0px rgba(0,0,0,0.15)
}

.altheader {
  background-color: #ffa540;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
